.password-generator {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    input,
    button {
        margin: 5px;
        padding: 8px;
        border-radius: 4px;
        width: 80%; // Responsive width
        max-width: 500px; // Maximum width for larger screens
        transition: all 0.3s ease-in-out;
    }
    input {
        border: 2px solid #ccc;
    }
    button {
        background-color: #4CAF50;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        &:hover {
            background-color: #45a049;
        }
    }
    p {
        color: #333;
        word-break: break-all;
        padding: 10px;
        background-color: #f9f9f9;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        width: 80%;
        max-width: 500px;
        &::before {
            content: 'Generated Password:';
            font-weight: bold;
            padding-right: 10px;
            border-right: 2px solid #ddd;
        }
        code {
            background-color: transparent;
            padding-left: 10px;
        }
    }
}

// Media queries for responsiveness
@media (max-width: 768px) {
    // Tablets
    .password-generator input,
    .password-generator button {
        width: 90%;
    }
}

@media (max-width: 480px) {
    // Mobile Phones
    .password-generator {
        padding: 10px;
    }
    .password-generator input,
    .password-generator button {
        width: 95%;
    }
}